/*
@import url("https://wp5-834.tk/style.css");
*/

/*****共通***** START *****/
/* Link Colors*/
a, a:visited, .main-navigation .main-menu > li, .main-navigation ul.main-menu > li > a, .post-navigation .post-title, .entry .entry-meta a:hover, .entry .entry-footer a:hover, .entry .entry-content .more-link:hover, .main-navigation .main-menu > li > a + svg, .comment .comment-metadata > a:hover, .comment .comment-metadata .comment-edit-link:hover, #colophon .site-info a:hover, .widget a, .entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), .entry .entry-content > .has-primary-color, .entry .entry-content > *[class^="wp-block-"] .has-primary-color, .entry .entry-content > *[class^="wp-block-"].is-style-solid-color blockquote.has-primary-color, .entry .entry-content > *[class^="wp-block-"].is-style-solid-color blockquote.has-primary-color p {
	color: #0c7f7b;
}

/* Button Colors */
.image-filters-enabled .site-header.featured-image .site-featured-image:before, .image-filters-enabled .site-header.featured-image .site-featured-image:after, .image-filters-enabled .entry .post-thumbnail:before, .image-filters-enabled .entry .post-thumbnail:after, .main-navigation .sub-menu, .sticky-post, .entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background), .entry .button, button, input[type="button"], input[type="reset"], input[type="submit"], .entry .entry-content > .has-primary-background-color, .entry .entry-content > *[class^="wp-block-"].has-primary-background-color, .entry .entry-content > *[class^="wp-block-"] .has-primary-background-color, .entry .entry-content > *[class^="wp-block-"].is-style-solid-color, .entry .entry-content > *[class^="wp-block-"].is-style-solid-color.has-primary-background-color, .entry .entry-content .wp-block-file .wp-block-file__button {
		background-color: #0c7f7b;
}

/** font **/
body:lang(ja), button:lang(ja), input:lang(ja), select:lang(ja), optgroup:lang(ja), textarea:lang(ja), .author-description .author-link:lang(ja), .comment-metadata:lang(ja), .comment-reply-link:lang(ja), .comments-title:lang(ja), .comment-author .fn:lang(ja), .discussion-meta-info:lang(ja), .entry-meta:lang(ja), .entry-footer:lang(ja), .main-navigation:lang(ja), .no-comments:lang(ja), .not-found .page-title:lang(ja), .error-404 .page-title:lang(ja), .post-navigation .post-title:lang(ja), .page-links:lang(ja), .page-description:lang(ja), .pagination .nav-links:lang(ja), .sticky-post:lang(ja), .site-title:lang(ja), .site-info:lang(ja), #cancel-comment-reply-link:lang(ja), h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja), .page-title:lang(ja), blockquote cite:lang(ja), table:lang(ja), .button:lang(ja), input:lang(ja)[type="button"], input:lang(ja)[type="reset"], input:lang(ja)[type="submit"], .comment-navigation .nav-previous:lang(ja), .comment-navigation .nav-next:lang(ja), .comment-list .pingback .comment-body:lang(ja), .comment-list .trackback .comment-body:lang(ja), .comment-list .pingback .comment-body .comment-edit-link:lang(ja), .comment-list .trackback .comment-body .comment-edit-link:lang(ja), .comment-form .comment-notes:lang(ja), .comment-form label:lang(ja), .widget_archive ul li:lang(ja), .widget_categories ul li:lang(ja), .widget_meta ul li:lang(ja), .widget_nav_menu ul li:lang(ja), .widget_pages ul li:lang(ja), .widget_recent_comments ul li:lang(ja), .widget_recent_entries ul li:lang(ja), .widget_rss ul li:lang(ja), .widget_tag_cloud .tagcloud:lang(ja), .entry .entry-content .wp-block-button .wp-block-button__link:lang(ja), .entry .entry-content .wp-block-archives li:lang(ja), .entry .entry-content .wp-block-categories li:lang(ja), .entry .entry-content .wp-block-latest-posts li:lang(ja), .entry .entry-content .wp-block-verse:lang(ja), .entry .entry-content .has-drop-cap:lang(ja):not(:focus):first-letter, .entry .entry-content .wp-block-pullquote cite:lang(ja), .entry .entry-content .wp-block-cover-image .wp-block-cover-image-text:lang(ja), .entry .entry-content .wp-block-cover-image .wp-block-cover-text:lang(ja), .entry .entry-content .wp-block-cover-image h2:lang(ja), .entry .entry-content .wp-block-cover .wp-block-cover-image-text:lang(ja), .entry .entry-content .wp-block-cover .wp-block-cover-text:lang(ja), .entry .entry-content .wp-block-cover h2:lang(ja), .entry .entry-content .wp-block-audio figcaption:lang(ja), .entry .entry-content .wp-block-video figcaption:lang(ja), .entry .entry-content .wp-block-image figcaption:lang(ja), .entry .entry-content .wp-block-gallery .blocks-gallery-image figcaption:lang(ja), .entry .entry-content .wp-block-gallery .blocks-gallery-item figcaption:lang(ja), .entry .entry-content .wp-block-file:lang(ja), .entry .entry-content .wp-block-file .wp-block-file__button:lang(ja), .entry .entry-content .wp-block-latest-comments .wp-block-latest-comments__comment-meta:lang(ja), .wp-caption-text:lang(ja), .gallery-caption:lang(ja) {
	font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

html {
  font-size: 16px;
}

h1,h2,.entry-title {
	font-weight: normal;
}

.site-branding {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.site-logo {
	position:relative;
	right: 0;
	top: 0;
}

.site-logo .custom-logo-link {
	height: auto;
	margin-right: 0.5rem;
}

.site-logo .custom-logo-link:hover, .site-logo .custom-logo-link:active, .site-logo .custom-logo-link:focus {
	box-shadow: none;
}

.site-title {
	margin: 0;
	font-size: 2rem;
	font-weight: 500;
}

.site-description {
	position: relative;
	top: -4px;
	margin-left: 1em;
}

.site-title:not(:empty) + .site-description:not(:empty):before {
    content: "\2014\2014";
    margin: 0 .2em;
}

.main-navigation {
	flex-basis: 100%;
	margin: 0.5rem;
}

.main-navigation .main-menu > li > a {
	font-weight: 900;
	margin-right: 1rem;
}

/* 水平線をウインドウ幅に合わせる */
.entry .entry-content .wp-block-separator.is-style-wide, .entry .entry-content hr.is-style-wide {
	  position: relative;
	  margin: 0;
    margin-top: calc(2 * 1rem);
    margin-bottom: calc(2 * 1rem);
    left: 0;
    width: 100%;
    max-width: calc( 125% + 150px);
}

@media only screen and (min-width: 1168px) {
  .entry .entry-content .wp-block-separator.is-style-wide, .entry .entry-content hr.is-style-wide {
    left: calc( -12.5% - 75px);
    width: calc( 125% + 150px);
  }
}
/*ヘッダーメニュー*/

/* SNSアイコン右寄せ*/
.social-navigation {
	margin-top: 0.2rem;
	text-align: right;
	width: 100%;
}

/* SNSアイコン色 */
.social-navigation .svg-icon {
	color: #0c7f7b;
}



/* センタリング */
.entry .entry-content > *,
.entry .entry-summary > *,
.entry .entry-content > *.aligncenter,
.entry .entry-summary > *.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.entry .entry-content .wp-block-archives li, .entry .entry-content .wp-block-categories li,
.entry .entry-content .wp-block-latest-posts li {
  font-size: 1rem;
  line-height: 1.5;
}

.entry .entry-content .wp-block-audio figcaption, 
.entry .entry-content .wp-block-video figcaption, 
.entry .entry-content .wp-block-image figcaption, 
.entry .entry-content .wp-block-gallery .blocks-gallery-image figcaption, 
.entry .entry-content .wp-block-gallery .blocks-gallery-item figcaption {
  font-size: 0.9rem;
}


/** footer **/
#colophon .widget-column .widget {
	margin: 0;
	overflow:hidden;
	flex: 1 1 100%;
	box-sizing: border-box;
	padding: 8px;
}


@media only screen and (min-width: 600px) {
	#colophon .widget-column .widget {
		flex-basis: 50%;
	}
}

@media only screen and (min-width: 1168px) {
		#colophon .widget-column .widget {
		flex-basis: 33%;
	}
}

/** search form **/
.widget_search .search-form {
	display: flex;
	align-items: flex-end;
}

.widget_search .search-form input {
	border: 1px solid #555;
	padding: 0rem 1rem;
	box-sizing: border-box;
	height: 2.2rem;
}

.widget_search .search-submit {
	margin-top: 0;
	border-radius: 0;
	background-color: #2c2c2c;
}

.widget_search .search-submit:hover {
		background-color: #555;
}

/** my-calendar navigation **/
.mc-main .maybe-hide {
	clip: auto;
	width: auto;
	height: auto;
	position: static !important;
}

.my-calendar-nav ul li {
	margin: 0.2em 0.4em 0 0;
}

.my-calendar-prev a:before,
.my-calendar-next a:after {
	content: none;
}

.mc-main .my-calendar-header input, .mc-main .my-calendar-header a,
.mc-main .mc_bottomnav a {
	background: #2c2c2c;
	color: #fff;
	text-decoration: none;
	border-radius: 0;
}

.mc-main .my-calendar-header input:hover,
.mc-main .my-calendar-header a:hover,
.mc-main .mc_bottomnav a:hover {
		background: #555;
}

.mc-main .mc_bottomnav span {
	background: transparent;
	border: none;
	color: inherit;
}

.mc-main caption, .mc-main.list .my-calendar-month, .mc-main .heading {
  font-size: 1rem;
}

/** gallery **/
.wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
	display: block;
}

.wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
	position: static;
	background: none;
	color: inherit;
}


/** Front-Page **/
.home h2 {
	font-size: 2rem;
}

h2.entry-title {
	font-size: 2rem;
}


/*****共通***** END *****/

/*****TOPページ START*****/

/* タイトルは非表示 */
.home #main .entry-header {
	display: none;
}

/* 見出しの上のラインをセンタリング */
.home　h1:not(.site-title):before, h2:before {
	margin : 0 auto;
}

/* カバー画像の背景なしに */
.home .entry-content .wp-block-cover:first-child {
	background-color: inherit;
}


/* 地図をグレーに */
.home .entry-content iframe {
  filter: grayscale(100%);
}
/*****TOPページ END*****/
